.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default {
  background: #2980b9;
}
.no-border {
  border: 0;
}
.no-radius {
  border-radius: 0px;
}
.circle {
  border-radius: 50%;
}
.shadow {
  box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #2980b9;
  background: white;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #2980b9;
  background: white;
}
.dropdown-menu > li > a {
  color : #2980b9;
}
.sidebar-wrapper {
  width: 250px;
  height: 100vh;
  background: #3a98d6;
  padding: 20px;
  text-align: center;
  padding-top: 80px;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
}
.sidebar-avatar{
  border-bottom: 1px solid white;
}
.sidebar-avatar-icon {
  margin-bottom: 20px;
  color: white;

}
.sidebar-avatar-name, .sidebar-avatar-level {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.sidebar-menu {
  margin-top: 10px;
}
.sidebar-menu .menu-parent {
  background: #2980b9;
  color: white;
}
.sidebar-menu .menu-parent a:hover, .sidebar-menu .menu-parent a:focus {
  text-decoration: none;
}
body{
  background: #ecf0f1;
  margin-top: 60px;
  margin-left: 260px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
}
.content{
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}
.huge {
font-size: 40px;
}

.panel-blue {
border-color: #9b59b6;
}

.panel-blue > .panel-heading {
border-color: #9b59b6;
color: #fff;
background-color: #9b59b6;
}

.panel-blue > a {
color: #9b59b6;
}

.panel-blue > a:hover {
color: #9b59b6;
}

.panel-red {
border-color: #d9534f;
}

.panel-red > .panel-heading {
border-color: #d9534f;
color: #fff;
background-color: #d9534f;
}

.panel-red > a {
color: #d9534f;
}

.panel-red > a:hover {
color: #b52b27;
}

.panel-yellow {
border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}

.panel-yellow > a {
color: #f0ad4e;
}

.panel-yellow > a:hover {
color: #df8a13;
}

.sidebar-wrapper {
  z-index: 999;
  width: 250px;
  height: 100vh;
  background: #3a98d6;
  padding: 20px;
  text-align: center;
  padding-top: 80px;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
}
.sidebar-avatar{
  border-bottom: 1px solid white;
}
.sidebar-avatar-icon {
  margin-bottom: 20px;
  color: white;

}
.sidebar-avatar-name, .sidebar-avatar-level {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.sidebar-menu {
  margin-top: 10px;
}
.sidebar-menu .menu-parent {
  background: #2980b9;
  color: white;
}
.sidebar-menu .menu-parent a:hover, .sidebar-menu .menu-parent a:focus {
  text-decoration: none;
}
